---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import { procContact } from '../lib/procContact';

const recaptchaSiteKey = import.meta.env.RECAPTCHA_SITE_KEY;
let successSubmission = false;
let errorMessage = '';

const form = {
    data: { name: '', email: '', message: '' },
    errors: { name: 'Name required', email: 'Email required', message: 'Message required' }
};

if (Astro.request.method === "POST") {
    
    const data = await Astro.request.formData();
    form.data.name = data.get("name");
    form.data.email = data.get("email");
    form.data.message = data.get("message");

    // Validation logic
    const hasErrors = Object.values(form.data).some(err => err === '');

    if (!hasErrors) {
        const results = await procContact(form.data);

        if (results.success) {
            successSubmission = true;
        } else {
            errorMessage = results.message || 'An error occurred while processing your request.';
        }
    } else {
        errorMessage = 'Please correct the errors in the form.';
    }

}
---
<html>
    <head>
        <script is:inline src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        <Layout>
            <h1 class="text-3xl font-bold mb-4">Contact Us</h1>
            <p class="mb-4">Feel free to reach out to us with any questions or feedback!</p>
            {errorMessage && (<p class="text-red-500 font-bold mb-4">{errorMessage}</p>)}
            {!successSubmission && (     
            <form method="POST" class="max-w-md">
            <div>
                <label class="block text-black-700 text-sm font-bold mb-2" for="username">
                Name<sup>*</sup>
            </label>
                <input class="bg-gray-200 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="name" placeholder="Name" />
                <div>{form.errors.name}</div>
            </div>
            <div>
                <label class="block text-black-700 text-sm font-bold mb-2" for="username">
                Email<sup>*</sup>
            </label>
                <input class="bg-gray-200 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" placeholder="Email" />
                <div>{form.errors.email}</div>  
            </div>
            <div>
                <label class="block text-black-700 text-sm font-bold mb-2" for="username">
                Message<sup>*</sup>
            </label>
                <textarea class="bg-gray-200 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="message" placeholder="Message"></textarea>
                <div>{form.errors.message}</div>  
            </div>
            <div>
                <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Send" />
            </div>
            </form>
            ) || (<p class="text-green-500 font-bold">Your message has been sent successfully!</p>)}
        </Layout>

        <button class="g-recaptcha"
        data-sitekey={recaptchaSiteKey}
        data-callback="onSubmit"
        data-action="submit"></button>

        <script is:inline>
        function onSubmit(token) {
            fetch("/recaptcha", {
            method: "POST",
            body: JSON.stringify({ recaptcha: token })
            })
            .then((response) => response.json())
            .then((gResponse) => {
            if (gResponse.success) {
                // Captcha verification was a success
            } else {
                // Captcha verification failed
            }
            })
        }
        </script>
    </body>
</html>